<section class="mt-16 flex flex-col justify-center items-center">
  <h1 class="mb-6 text-2xl font-semibold sm:text-3xl md:text-4xl relative">
    Top Authors
    <span
      class="absolute left-[35%] right-0 bottom-[-0.7rem] w-[30%] h-1 bg-gray-400 rounded"
    ></span>
  </h1>

  <div class="flex flex-row gap-4 mb-6">
    <div
      class="cursor-pointer"
      [ngClass]="{
        'text-orange-800': clickedButton === 'left',
        'text-black': clickedButton !== 'left'
      }"
      (click)="scrollLeft()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-7"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5 8.25 12l7.5-7.5"
        />
      </svg>
    </div>

    <div
      class="cursor-pointer"
      [ngClass]="{
        'text-orange-800': clickedButton === 'right',
        'text-black': clickedButton !== 'right'
      }"
      (click)="scrollRight()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-7"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m8.25 4.5 7.5 7.5-7.5 7.5"
        />
      </svg>
    </div>
  </div>

  <div
    class="mb-8 w-[80%] md:w-[80%] flex flex-row justify-between items-center gap-6 overscroll-contain overflow-x-hidden"
    #scrollContainer
  >
    <mat-card *ngFor="let author of authors">
      <img
        mat-card-image
        [src]="author.img"
        alt="author_img"
        class="w-64 h-72 min-h-72 min-w-64"
      />

      <mat-card-title class="text-center py-4 bg-[#e6e6e6]">{{
        author.name
      }}</mat-card-title>
    </mat-card>
  </div>
</section>
