<section class="mt-16 flex flex-col justify-center items-center">
  <h1 class="mb-6 text-2xl font-semibold sm:text-3xl md:text-4xl relative">
    {{ componentHeader }}
    <span
      class="absolute left-[35%] right-0 bottom-[-0.7rem] w-[30%] h-1 bg-gray-400 rounded"
    ></span>
  </h1>

  <div class="flex flex-row gap-4 mb-6">
    <div
      class="cursor-pointer"
      [ngClass]="{
        'text-orange-800': isClickedLeft === true,
        'text-black': isClickedLeft !== false
      }"
      (click)="scrollLeft()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-7 md:size-10"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5 8.25 12l7.5-7.5"
        />
      </svg>
    </div>

    <div
      class="cursor-pointer"
      [ngClass]="{
        'text-orange-800': isClickedLeft === false,
        'text-black': isClickedLeft !== true
      }"
      (click)="scrollRight()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-7 md:size-10"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m8.25 4.5 7.5 7.5-7.5 7.5"
        />
      </svg>
    </div>
  </div>

  <div
    class="w-[80%] md:w-[80%] overscroll-contain overflow-x-hidden"
    #scrollContainer
  >
    <ng-container *ngIf="componentHeader === 'Top Author'" class="">
      <app-author-card></app-author-card>
    </ng-container>

    <ng-container *ngIf="componentHeader === 'Genres'">
      <app-genre-card></app-genre-card>
    </ng-container>

    <ng-container *ngIf="componentHeader === 'Featured Books'">
      <app-book-card></app-book-card>
    </ng-container>
  </div>
</section>
