<section class="hero h-[86vh] w-[90%] ml-[5%] rounded-md relative">
  <div
    class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] w-[90%] flex flex-col justify-center items-center gap-8 sm:top-[60%] sm:translate-y-[-60%] lg:top-[65%] lg:translate-y-[-60%] lg:[80%]"
  >
    <h1
      class="text-5xl text-white font-extrabold text-center leading-snug sm:text-6xl lg:text-7xl"
    >
      Discover New Worlds, One Page At A Time.
    </h1>
    <div
      class="bg-white text-black px-4 py-2 rounded-md text-lg flex flex-row items-center justify-center gap-2 font-medium hover:bg-orange-600 hover:opacity-90 hover:text-white transition-all duration-200 ease-in-out cursor-pointer"
    >
      <p>Shop Now</p>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-5 mt-1"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
        />
      </svg>
    </div>
  </div>
</section>
