<section class="w-[80%] ml-[10%] md:w-[50%] md:ml-[25%] p-8">
  <div
    class="w-full border border-gray-400 rounded-md flex flex-col items-center mb-4 h-32 relative"
    *ngFor="let item of cartItems"
  >
    <div class="flex items-center w-full p-4">
      <img
        class="h-20 w-20 sm:w-28 rounded-md mr-2"
        [src]="imageURLPrefix + '/' + item.imageURL"
        alt=""
      />
      <div class="ml-2">
        <h1 class="text-sm font-semibold text-gray-700">
          {{ item.title }}
        </h1>
        <p class="text-xs font-medium text-gray-500">{{ item.author }}</p>
        <p class="text-xs font-medium text-gray-700">
          {{ item.price | currency : "INR" }}
        </p>
        <p class="text-xs font-medium text-gray-700">
          QTY: {{ item.quantity }}
        </p>
      </div>
    </div>
    <button
      class="absolute top-0 right-0 mt-2 mr-2 text-gray-700 font-bold text-xs"
      (click)="onDelete(item._id)"
    >
      X
    </button>
  </div>
</section>
