<section class="flex flex-row justify-between items-center gap-6">
  <mat-card *ngFor="let genre of genres">
    <div class="w-64 h-72 min-h-72 min-w-64 relative">
      <img
        mat-card-image
        [src]="genre.img"
        [alt]="genre.name"
        class="w-full h-full object-cover"
      />
      <div class="absolute inset-0 bg-red-950 bg-opacity-50"></div>
      <div
        class="text-center px-4 py-2 rounded-md bg-white text-black hover:bg-orange-800 hover:text-white font-medium flex flex-row space-x-2 items-center justify-center text-lg absolute top-[90%] translate-y-[-90%] left-[50%] translate-x-[-50%] cursor-pointer"
      >
        <p>{{ genre.name }}</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6 mt-1"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          />
        </svg>
      </div>
    </div>
  </mat-card>
</section>
